<!-- <p>top-bar works!</p> -->
<nav class="navbar">
  <div class="navbar_left">
    <!-- Menu Icon -->
    <a class="navbar-brand menu_icon">
      <!-- <span class="material-icons md-36">menu</span> -->
      <span class="material-icons"> menu </span>
    </a>

    <!-- Searchbar -->
    <div class="nav_search_bar">
      <span class="material-icons search_icon"> search </span>
      <input type="search" placeholder="Search keywords..." />
    </div>
  </div>

  <div class="nabvar-right">
    <a class="notification" style="padding-left: 390px;">
      <!-- <span class="material-icons md-36">menu</span> -->
      <span class="material-icons"> notifications </span>
    </a>
    <!-- Notification Icon -->
  </div>
</nav>
